@import "bootstrap-sprockets";
@import "bootstrap";
@import "react-calendar";

.event-name {
  font-weight: bold;
}

.event-start-date, .event-end-date {
  font-style: italic;
}

.event-end-date::before {
  margin: 0 5px;
  content: '-';
}

.live-updated {
  background-color: yellow;
}

.live-event-enter {
  opacity: 0.01;
}

.live-event-enter.live-event-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.live-event-leave {
  opacity: 1;
}

.live-event-leave.live-event-leave-active {
  opacity: 0.01;
  transition: opacity 350ms ease-in;
}
